# excluir datos grandes guardados en carpetas estáticas
/Datos/01_raw/**
/Datos/02_intermediate/**
/Datos/03_primary/**
/Datos/04_feature/**

/Datos/Detalle_Cat_y_Rol_cobro/**

# permitir datos del sinim
!/Datos/01_raw/sinim**
!/Datos/02_intermediate/sinim**